/**/.rotate90,
.rotate180,
.rotate270,
.rotate360 {
	display: inline-block;
}
.rotate90 {
	transform: rotate(90deg);
}
.rotate180 {
	transform: rotate(180deg);
}
.rotate270 {
	transform: rotate(270deg);
}
.rotate360 {
	transform: rotate(360deg);
}
