/* prism coy */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
    opacity: .7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
pre[data-line] code {
    position: relative;
    padding-left: 4em;
}
pre .line-highlight {
    margin-top: 0;
}
html, body {
  margin: 0; }

p {
  margin: 1.5rem 0; }

pre {
  background-color: #F4FAFF;
  padding: .75rem;
  max-width: 100%;
  overflow-y: auto;
  max-height: 35rem; }

code {
  display: inline-block;
  padding: 0 .5rem;
  background-color: #F4FAFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
  margin: 2.5rem 0 1rem;
  line-height: 1.1; }

blockquote {
  margin-left: 1rem; }

h1 {
  font-size: 2.488rem; }

h2 {
  font-size: 2.074rem; }

h3 {
  font-size: 1.728rem; }

h4 {
  font-size: 1.44rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }
/*==========================** Settings (Play with them!) *
\*==========================*/
/*===================** The Important Stuff *
\*===================*/
:root {
  font-size: 0.875em; }

@media (min-width: 37.625em) and (min-height: 42em) and (max-aspect-ratio: 43 / 48) {
  :root {
    font-size: calc(0.875em + (2.32558vw - 0.875em) * 0.6); } }

@media (min-width: 37.625em) and (min-height: 42em) and (min-aspect-ratio: 43 / 48) {
  :root {
    font-size: calc(0.875em + (2.08333vh - 0.875em) * 0.6); } }

/*=========** Debugging *
\*=========*/
*, *::before, *::after {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

:root {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  background-color: #fcffff;
  color: #01001C;
  line-height: 1.5; }

blockquote {
  margin: 2rem 0;
  color: #21436F;
  font-size: 1.2rem;
  font-style: italic;
  border-left: 0.25rem solid #21436F;
  padding-left: 1.5rem; }

a[href] {
  color: #467B9D; }

nav {
  margin-right: 5em; }

img {
  max-width: 100%; }
.YNmKX9cKsFiAq-LJ6jE2s {
  top: 0;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  background-color: #21436F; }
  .YNmKX9cKsFiAq-LJ6jE2s a[href] {
    color: #F4FAFF;
    font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: .15rem solid transparent; }
    .YNmKX9cKsFiAq-LJ6jE2s a[href]._3uV80WfcOeh7fSMHQuOCPn, .YNmKX9cKsFiAq-LJ6jE2s a[href]:hover {
      border-color: currentColor; }
    .YNmKX9cKsFiAq-LJ6jE2s a[href] ._3uV80WfcOeh7fSMHQuOCPn {
      color: #467B9D; }

.YtpwQVVdphfKtCnB-sWZd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0; }
  .YtpwQVVdphfKtCnB-sWZd > * + * {
    margin-left: .75rem; }

a[href]._1uJxfhViT8S5yna9ssAn2E {
  font-size: 1.728rem;
  margin-right: auto; }

.github-corner svg {
  width: auto;
  height: 5rem;
  z-index: 1; }
  .github-corner svg .octo-banner {
    fill: #F4FAFF; }
  .github-corner svg .octo-body, .github-corner svg .octo-arm {
    fill: #467B9D; }

._2Gxg9_yWrySXyBQDWtNI8w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh; }

.CkXjbpgx9AQsNuIFzXxgN .YNmKX9cKsFiAq-LJ6jE2s {
  position: absolute;
  background-color: transparent; }
  .CkXjbpgx9AQsNuIFzXxgN .YNmKX9cKsFiAq-LJ6jE2s a[href] {
    color: #F4FAFF; }
    .CkXjbpgx9AQsNuIFzXxgN .YNmKX9cKsFiAq-LJ6jE2s a[href]._1uJxfhViT8S5yna9ssAn2E {
      visibility: hidden; }

.CkXjbpgx9AQsNuIFzXxgN .github-corner svg .octo-banner {
  fill: #F4FAFF; }

.CkXjbpgx9AQsNuIFzXxgN .github-corner svg .octo-body, .CkXjbpgx9AQsNuIFzXxgN .github-corner svg .octo-arm {
  fill: #01001C; }
._3eZxVbJg6B1-5EQL-44aUU {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F4FAFF;
  height: 98vh;
  overflow: hidden;
  background-color: #01001C;
  background-image: radial-gradient(50rem, #21436F 0%, #01001C 70%); }
  ._3eZxVbJg6B1-5EQL-44aUU svg {
    width: 130%;
    height: auto;
    max-width: 40rem;
    max-height: 100%; }

._2niA0nSVWp8vkTRV7oESsK {
  fill: #467B9D;
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-anchor: middle; }

._2uElx5-wjMDDzaY5uiFk3I {
  fill: #467B9D;
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-anchor: middle; }

._3-zGr52QinKMg0lM0nPg0u ._3HPk8zaqNVw5Lq4P969EBi, ._3-zGr52QinKMg0lM0nPg0u ._1wSwY4nZorixEH2sqEp4wx {
  -webkit-animation: flicker 6s ease-out infinite 2s;
          animation: flicker 6s ease-out infinite 2s; }

._3-zGr52QinKMg0lM0nPg0u ._1uzPl5uJpLe1ht-UoKKh7Y, ._3-zGr52QinKMg0lM0nPg0u .bGFjuUlZU0WlXbqVM_Wmo {
  -webkit-animation: dim 6s ease-out infinite 2s;
          animation: dim 6s ease-out infinite 2s; }

._18mYXDzimhwc_JbYCjR3o0 {
  -webkit-animation: shake-noise 400ms steps(1) infinite;
          animation: shake-noise 400ms steps(1) infinite; }

@-webkit-keyframes flicker {
  0% {
    opacity: 1; }
  5% {
    opacity: .6; }
  13% {
    opacity: 1; }
  20% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: skew(-5deg);
            transform: skew(-5deg); }
  30% {
    opacity: .3;
    -webkit-transform: translateY(3rem) skew(5deg) scaleY(0.7);
            transform: translateY(3rem) skew(5deg) scaleY(0.7); }
  35% {
    opacity: 0;
    -webkit-transform: translateY(-20rem) skew(-5deg) scaleY(0.4);
            transform: translateY(-20rem) skew(-5deg) scaleY(0.4); }
  60% {
    opacity: 0;
    -webkit-transform: translate(0) skew(-5deg);
            transform: translate(0) skew(-5deg); }
  63% {
    opacity: .7; }
  66% {
    opacity: .4;
    -webkit-transform: skew(5deg);
            transform: skew(5deg); }
  70% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes flicker {
  0% {
    opacity: 1; }
  5% {
    opacity: .6; }
  13% {
    opacity: 1; }
  20% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: skew(-5deg);
            transform: skew(-5deg); }
  30% {
    opacity: .3;
    -webkit-transform: translateY(3rem) skew(5deg) scaleY(0.7);
            transform: translateY(3rem) skew(5deg) scaleY(0.7); }
  35% {
    opacity: 0;
    -webkit-transform: translateY(-20rem) skew(-5deg) scaleY(0.4);
            transform: translateY(-20rem) skew(-5deg) scaleY(0.4); }
  60% {
    opacity: 0;
    -webkit-transform: translate(0) skew(-5deg);
            transform: translate(0) skew(-5deg); }
  63% {
    opacity: .7; }
  66% {
    opacity: .4;
    -webkit-transform: skew(5deg);
            transform: skew(5deg); }
  70% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes dim {
  0% {
    opacity: 1; }
  5% {
    opacity: .8; }
  13% {
    opacity: 1; }
  20% {
    opacity: 1; }
  35% {
    opacity: .4; }
  60% {
    opacity: .4; }
  63% {
    opacity: .7; }
  66% {
    opacity: .6; }
  70% {
    opacity: 1; } }

@keyframes dim {
  0% {
    opacity: 1; }
  5% {
    opacity: .8; }
  13% {
    opacity: 1; }
  20% {
    opacity: 1; }
  35% {
    opacity: .4; }
  60% {
    opacity: .4; }
  63% {
    opacity: .7; }
  66% {
    opacity: .6; }
  70% {
    opacity: 1; } }

@-webkit-keyframes shake-noise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(7rem, 1rem);
            transform: translate(7rem, 1rem);
    opacity: .9; }
  40% {
    -webkit-transform: translate(-7rem, -2rem);
            transform: translate(-7rem, -2rem); }
  60% {
    -webkit-transform: translate(-3rem, -6rem);
            transform: translate(-3rem, -6rem); }
  80% {
    -webkit-transform: translate(2rem, 4rem);
            transform: translate(2rem, 4rem); }
  100% {
    -webkit-transform: translate(-7rem, 3rem);
            transform: translate(-7rem, 3rem);
    opacity: 1; } }

@keyframes shake-noise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(7rem, 1rem);
            transform: translate(7rem, 1rem);
    opacity: .9; }
  40% {
    -webkit-transform: translate(-7rem, -2rem);
            transform: translate(-7rem, -2rem); }
  60% {
    -webkit-transform: translate(-3rem, -6rem);
            transform: translate(-3rem, -6rem); }
  80% {
    -webkit-transform: translate(2rem, 4rem);
            transform: translate(2rem, 4rem); }
  100% {
    -webkit-transform: translate(-7rem, 3rem);
            transform: translate(-7rem, 3rem);
    opacity: 1; } }
._2UgM59f7LEkAKs-qBGx8dW {
  padding-bottom: 3rem;
  border-bottom: 1rem solid #21436F; }
  ._2UgM59f7LEkAKs-qBGx8dW h2 {
    margin: 0 0 1rem; }
  ._2UgM59f7LEkAKs-qBGx8dW p {
    margin: 0; }

._1X79YREgEWHydzPR4H6V0e {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem; }

._31EX03YKVcVicY0BpOPZ1L {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -1rem 1rem; }
  ._31EX03YKVcVicY0BpOPZ1L h2::after {
    display: block;
    content: '';
    margin-top: .35rem;
    height: .3rem;
    width: 100%;
    background-image: repeating-linear-gradient(50deg, transparent, transparent 0.25rem, #467B9D 0.25rem, #467B9D 0.5rem); }
  ._31EX03YKVcVicY0BpOPZ1L section {
    margin: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15rem;
            flex: 1 0 15rem; }

._3X4BmyhuBp9iIraINYPY6B {
  background-color: #F4FAFF; }

.Bmdm9BKpT11m8Xx-2np0s {
  margin-top: 2rem; }
  .Bmdm9BKpT11m8Xx-2np0s * + * {
    margin-left: 1rem; }

a[href]._2iEzFxQXDu1qvyYKUK1wTM {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .25rem 1.5rem;
  border-radius: .25rem;
  background-color: #21436F;
  color: #fcffff;
  text-decoration: none;
  font-weight: 600;
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem; }
  a[href]._2iEzFxQXDu1qvyYKUK1wTM:hover {
    background-color: #2d5b96; }
  a[href]._2iEzFxQXDu1qvyYKUK1wTM:active {
    background-color: #1b375b; }
@charset "UTF-8";
.smZDwh3a586i8cpMQRqg8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 3rem;
  width: 100%; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__prev, ._2NlguPAtd181Xd0uxWm7i6 .prevnext__next {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20rem;
          flex: 0 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem; }
  ._2NlguPAtd181Xd0uxWm7i6 .prevnext__prev:only-child, ._2NlguPAtd181Xd0uxWm7i6 .prevnext__next:only-child {
    border-color: transparent; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__prev::before, ._2NlguPAtd181Xd0uxWm7i6 .prevnext__next::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #467B9D;
  font-size: 5rem; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__prev {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: auto;
  border-right: 0.075rem solid #96C7DB;
  padding-left: 3rem; }
  ._2NlguPAtd181Xd0uxWm7i6 .prevnext__prev::before {
    left: 0;
    top: 0;
    bottom: 0;
    content: '\276C'; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__next {
  text-align: right;
  margin-left: auto;
  border-left: 0.075rem solid #96C7DB;
  padding-right: 3rem; }
  ._2NlguPAtd181Xd0uxWm7i6 .prevnext__next::after {
    right: 0;
    top: 0;
    bottom: 0;
    content: '\276D'; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__link {
  font-size: 1.2rem; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__bg {
  display: none; }

._2NlguPAtd181Xd0uxWm7i6 .prevnext__info {
  font-size: 1.44rem;
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif; }
@charset "UTF-8";
._2vLGoMKjPIsz98fNsfoZNa {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 3rem; }
  ._2vLGoMKjPIsz98fNsfoZNa h3 {
    font-weight: 300;
    margin-top: 1.5rem; }

._2pR-IPIHLZcgnhx5Wz1sjx {
  /* TODO */ }

._1vYDXoCIBVwgdxIJJACiaM, .qp380M0CzNCVW2cJqSc42 {
  opacity: .3; }

._1vYDXoCIBVwgdxIJJACiaM + .qp380M0CzNCVW2cJqSc42::before {
  content: '\2013';
  margin: 0 .5rem; }

._2wEjvqPvFr3U7JbERu8j52 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 3rem; }
  ._2wEjvqPvFr3U7JbERu8j52 h1 {
    margin: 0 0 .5rem;
    width: 100%; }
    ._2wEjvqPvFr3U7JbERu8j52 h1::after {
      display: block;
      content: '';
      margin-top: .35rem;
      height: .3rem;
      width: 100%;
      background-image: repeating-linear-gradient(50deg, transparent, transparent 0.25rem, #467B9D 0.25rem, #467B9D 0.5rem); }

._1pYwETq1FZEFujDOymWZ0q {
  position: relative; }
  @media (min-width: 60rem) {
    ._1pYwETq1FZEFujDOymWZ0q {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; } }
._2GOf4ONcTgeXJQWjufba7a h1 {
  margin-top: 0;
  text-align: center; }

ul._2TKFiO6W_20h57h0sCjlNT {
  list-style: none;
  padding-left: 0; }

._3nMn9uvwyHhGPQP16h9nNc + ._3nMn9uvwyHhGPQP16h9nNc {
  border-top: 0.2rem solid #467B9D; }

._3nMn9uvwyHhGPQP16h9nNc > a[href] {
  display: block;
  color: #01001C;
  padding: 2rem 1rem;
  text-decoration: none; }
  ._3nMn9uvwyHhGPQP16h9nNc > a[href]:hover, ._3nMn9uvwyHhGPQP16h9nNc > a[href]:active, ._3nMn9uvwyHhGPQP16h9nNc > a[href]:focus {
    background-color: #F4FAFF; }

.xBoIW_iscvTBN5PLJ37MT {
  color: #467B9D;
  font-size: 2.488rem;
  font-family: "Avenir Next Condensed", "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0; }

._1ApCK_vu8Q6FyZR3HXJC4T {
  opacity: .3; }

._8psROWXXI5jmgzQAQ9E5R {
  margin: 1rem 0 0;
  font-size: 1.2rem; }
._2qT03q6ixF47PjvJjhy7fF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-height: 0;
  max-height: 100%; }

.c8kkN1NcUPtEUjlpo-7DH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #F4FAFF;
  padding: 1rem; }

._1-jk2piFTU1u_fqWA8Pj0C {
  text-decoration: none;
  border-bottom: .15rem solid transparent; }
  ._1-jk2piFTU1u_fqWA8Pj0C + ._1-jk2piFTU1u_fqWA8Pj0C {
    margin-left: .5rem; }
  ._1-jk2piFTU1u_fqWA8Pj0C:hover {
    border-bottom-color: currentColor; }

@media (min-width: 60rem) {
  ._2qT03q6ixF47PjvJjhy7fF {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 100%; }
  .c8kkN1NcUPtEUjlpo-7DH {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 2.5rem 2rem 2rem;
    font-size: 1.2rem; }
  ._1-jk2piFTU1u_fqWA8Pj0C + ._1-jk2piFTU1u_fqWA8Pj0C {
    margin-left: 0;
    margin-top: .25rem; } }

.-xGYcsxAQlvsJFEpQqwbq {
  font-weight: bold;
  color: #21436F; }
