/**/

.main-wrapper {
	padding-top: $base-spacing-unit;
}

.no-show {
	display: none;
}

.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.flex-center {
	align-self: center;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index:200;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
	display: none;
}
input[type="date"],
.input {
	text-align: center;
	-webkit-appearance: none;
	height: $base-spacing-unit * 2;
	border: none;
}


img {
	max-width: 100%;
}
