.transition--slide-right-enter {
  position: fixed;
  width: calc(100% - #{$base-spacing-unit * 2}; // A hack.
  height: 0;
  overflow: visible;
  @include fadeInRightBig($transition-speed * 3, 0s, $transition-easing, both, hidden);
}

.transition--slide-right-enter-active {
  height: 0;
  overflow: visible;
}

.transition--slide-right-leave {
  height: 0;
  overflow: visible;
  @include fadeOutLeftBig($transition-speed * 2, 0s, $transition-easing, both, hidden);
}

.transition--slide-right-leave-active {
  height: 0;
  overflow: visible;
}
