// this is a copy of /bower_components/js-breakpoints/breakpoints.scss

html:after {
	// used to test if browser can read getComputedStyle on pseudo elements
	content: "js-breakpoints-getComputedStyleTest";
	display: none;
}

@mixin defineBreakpoint($name) {
	// store active breakpoint name in ::pseudo content
	&:after {
		content: #{$name};
		display: none;
	}

	// add fallback style using breakpoint name
	.js-breakpoints-#{$name} {
		position: absolute;
	}
}
