.post {
	align-self: center;
	width: $max-width;
	max-width: 100vw;
	padding: 0 $base-spacing-unit;
	margin-bottom: $base-spacing-unit * 3;
	@include media-query('palm') {
		padding: 0;
	}
}
.post__content {
	margin: 0 auto;
	position: relative;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul,
	div,
	pre,
	blockquote,
	form {
		max-width: 100%;
		@include media-query('portable') {
			max-width: $max-width;
		}
		@include media-query('palm') {
			padding: 0 $half-spacing-unit;
		}
	}

	img {
		width: 90vw;
		position: relative;
		left: calc(-45vw + 50%);
		@include media-query($max-width) {
			width: 100vw;
			left: calc(-50vw + 50%);
		}
	}

	> * {
		@include media-query('palm') {
			@include font-size(16px);
		}
	}
	.inline-img {
		width: 100%;
		left: auto;
	}
}

.post__heading {
	@include media-query('palm') {
		padding: 0 $half-spacing-unit;
	}
}

.header-image {
	width: 100vw;
	height: 78vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $brand-dark;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 300;
	filter: brightness(0.4);
	@include layer;
}
.header-image + .post__heading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	margin-top: calc(39vh); //Subtract footer links height
	text-align: center;
	color: #fff;
	transform: translateY(-50%);
	z-index: 400;
	@include layer;
	> h1,
	> h3  {
		color: #fff;
		margin-top: 0;
	}
}
.header-image + .post__heading + .post__content {
	margin-top: 73vh;
	padding-top: $base-spacing-unit * 2;
}

/* given 100vw doesn't take scrollbar in count maximum width needs to be clamped */
.header-image, .post__heading {
	max-width: 100%;
}

.post__author,
.post__moment {
	margin-bottom: $base-spacing-unit;
	// padding: 0 $base-spacing-unit;
	@include media-query('palm') {
		padding: 0 $half-spacing-unit;
	}
}
.post__author {
	@extend time;
}
