.prevnext {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: $base-spacing-unit * 2 0 0;
  left: 0;
  position: absolute;
  z-index: 200;
  @include media-query(palm) {
    flex-direction: row;
  }
}

.prevnext__next,
.prevnext__prev {
  position: relative;
  width: 50%;
  color: #fff;
  font-family: $heading-font;
  padding: $base-spacing-unit;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: $base-spacing-unit * 12;
  flex-grow: 1;
  @include media-query(palm) {
    width: 100vw;
  }
}
.prevnext__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brand-dark;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  filter: brightness(0.4);
}
.prevnext__info {
  @include font-size($centi-size);
  z-index: 1;
}
.prevnext__link {
  color: #fff;
  font-weight: $fat;
  z-index: 1;
}
.prevnext__next {
  // flex-grow: 2;
}

/* XXX: simplify by altering html structure? */
.post__content {
  .prevnext__prev, .prevnext__next, .prevnext, .prevnext__bg {
    max-width: 100%;
  }
  .prevnext, .prevnext__bg {
    width: 100%;
  }
}
