$white: #fcffff;
$off-white: #e6efef;
$green: #ccd283;
$cyan: #1d8582;
$deep-blue: #0d1621;

$title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$ms8: 7.478rem;
$ms7: 5.61rem;
$ms6: 4.209rem;
$ms5: 3.157rem;
$ms4: 2.369rem;
$ms3: 1.777rem;
$ms2: 1.333rem;
$ms1: 1rem;
