$white: #fcffff;
$off-white: #ecf7f7;
$green: #ccd283;
$cyan: #1d8582;
$deep-blue: #0d1621;

$title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$ms8: 3.583rem;
$ms7: 2.986rem;
$ms6: 2.488rem;
$ms5: 2.074rem;
$ms4: 1.728rem;
$ms3: 1.44rem;
$ms2: 1.2rem;
$ms1: 1rem;
