$blue1: #01001C;
$blue2: #21436F;
$blue3: #467B9D;
$blue4: #96C7DB;
$blue5: #F4FAFF;
$blue: $blue3;

$yellow: #F5E6BA;
$peach: #F2C2B9;

$off-white: $blue5;
$white: #fcffff;
$black: $blue1;

$display-font: 'Avenir Next Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;
$caption-font: 'Avenir Next Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;
$body-font: "Avenir Next", Helvetica, Arial, sans-serif;

$ms8: 3.583rem;
$ms7: 2.986rem;
$ms6: 2.488rem;
$ms5: 2.074rem;
$ms4: 1.728rem;
$ms3: 1.44rem;
$ms2: 1.2rem;
$ms1: 1rem;
