@import 'config.scss';
@import 'contained-layout.scss';

*, *::before, *::after {
  flex-flow: column nowrap;
  flex: 0 0 auto;
}

:root {
  font-family: $body-font;
  background-color: $white;
  color: $black;
  line-height: 1.4;
}

a[href] { color: $blue; }
