.block-list {
	list-style:none;
	margin-left:0;

	> li {
		border-bottom: $inverted-border;
		padding: $half-spacing-unit;
		&:last-child {
			border-bottom-width: 0;
		}
		&.touch-feedback {
			background-color: $action-color-inverted;
		}
	}
}
