div, section, article {
	display: flex;
	flex-wrap: wrap;
	flex-shrink:0;
	flex-grow: 0;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	// align-items: flex-start;
}

.main-content {
	align-items: center;
}
.post__meta {
	flex-direction: row;
	justify-content: flex-start;
}
