

html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $body-font;
    line-height: $base-line-height;
    font-weight: $normal;
}

body, button, input {
	color: $font-color;
	-webkit-font-smoothing: antialiased;
}
::selection {
	background: mix($action-color, $font-color, $fat-tint);
	color: $background-color;
}
::-moz-selection {
	background: mix($action-color, $font-color, $fat-tint);
	color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	margin-bottom: 0;
	font-weight: $bold;
	margin-bottom: $base-spacing-unit;
}
h1, h2, h3 {
	text-rendering: optimizeLegibility;
}
h1 {
	@include font-size($h1-size);
	font-weight: $fat;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: $base-spacing-unit;
}
h2 {
	@include font-size($h2-size);
}
h3 {
	@include font-size($h3-size);
}
h4 {
	@include font-size($h4-size);
}
h5 {
	@include font-size($h5-size);
	text-transform: uppercase;
	margin-bottom: 0;
}
p {
	margin-bottom: $base-spacing-unit;
}

pre, code {
	font-family: $code-font;
	font-weight: 400;
	@include font-size($deci-size);
}

.section-heading {
	margin-top: $base-spacing-unit * 2;
	margin-bottom: $base-spacing-unit;
}

.h1-size {
	@extend .bottom-margin;
}

.beefcake,
.strong {
	font-weight:700;
}

.weak {
	font-weight: 300;
}

.bigger {
	@include font-size($h3-size);
	line-height: $base-line-height * 1.5;
}
.centi {
    @include font-size($centi-size);
}
.small,
.milli {
    @include font-size($milli-size);
}
.micro,
.tiny {
    @include font-size($micro-size);
}

.quiet {
	color: mix($font-color, $background-color, 50%);
}

.em, .italic {
	font-style: italic;
}

.one-line {
	line-height: $base-line-height;
}
.two-lines {
	line-height: $base-line-height * 2;
}
.three-lines {
	line-height: $base-line-height * 3;
}

.right {
	text-align: right;
}

time {
	font-family: $small-font;
	color: $quiet-font-color;
	margin-bottom: $base-spacing-unit;
	@include font-size($h6-size);
}

@mixin font-size-micro () {
	@include font-size($micro-size);
	font-weight: $bold;
	// letter-spacing: 1px;
}
@mixin font-size-milli () {
	@include font-size($milli-size);
	font-weight: $bold;
	// letter-spacing: 1px;
}
@mixin font-size-centi () {
	@include font-size($centi-size);
	font-weight: $bold;
	// letter-spacing: 1px;
}
@mixin font-size-deci () {
	@include font-size($deci-size);
	// letter-spacing: 1px;
}
