
.vertical-margin {
	margin-top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}
.vertical-margin--double {
	margin-top: $base-spacing-unit * 2;
	margin-bottom: $base-spacing-unit * 2;
}
.vertical-margin--half {
	margin-top: $half-spacing-unit;
	margin-bottom: $half-spacing-unit;
}

.horizontal-margin {
	margin-left: $base-spacing-unit;
	margin-right: $base-spacing-unit;
}
.horizontal-margin--double {
	margin-left: $base-spacing-unit * 2;
	margin-right: $base-spacing-unit * 2;
}
.horizontal-margin--half {
	margin-left: $half-spacing-unit;
	margin-right: $half-spacing-unit;
}

.top-margin {
	margin-top: $base-spacing-unit;
}
.top-margin--double {
	margin-top: $base-spacing-unit * 2;
}
.top-margin--half {
	margin-top: $half-spacing-unit;
}

.bottom-margin {
	margin-bottom: $base-spacing-unit;
}
.bottom-margin--double {
	margin-bottom: $base-spacing-unit * 2;
}
.bottom-margin--half {
	margin-bottom: $half-spacing-unit;
}

.left-margin {
	margin-left: $base-spacing-unit;
}
.left-margin--double {
	margin-left: $base-spacing-unit * 2;
}
.left-margin--half {
	margin-left: $half-spacing-unit;
}

.right-margin {
	margin-right: $base-spacing-unit;
}
.right-margin--double {
	margin-right: $base-spacing-unit * 2;
}
.right-margin--half {
	margin-right: $half-spacing-unit;
}

.no-margin {
	margin: 0;
}