@import '../styles/config.scss';

:global {
  .nav__wrapper {
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    a[href] { color: $blue; }
  }

  .nav {
    display: flex;
    flex-direction: row;
    & > *+* { margin-left: .5rem; }
  }

  .nav__toggle {
    display: none;
  }
}

.body {
  position: relative;
}
