@import '../styles/config.scss';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $off-white;
  height: 95vh;
  overflow: hidden;
  background-color: $blue1;
  background-image: radial-gradient(40rem, $blue 0%, $blue1 70%);
  svg {
    width: 100%;
    max-width: 35rem;
    height: auto;
    max-height: 100%;
  }
}

.title {
  fill: $blue3;
  font-family: $display-font;
  font-size: 9.5rem;
  font-weight: 500;
  text-anchor: middle;
}
.subtitle {
  fill: $blue3;
  font-family: $caption-font;
  font-size: 3rem;
  font-weight: 200;
  text-anchor: middle;
}
