@import '../styles/config.scss';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $off-white;
  height: 100vh;
  overflow: hidden;
  background-color: #01001C;
  background-image: radial-gradient(40rem, #007EA1 0%, #01001C 70%);
  svg {
    width: 100%;
    max-width: 50rem;
    height: auto;
    max-height: 100%;
  }
}

.title {
  fill: $blue3;
  font-family: $display-font;
  font-size: 10rem;
  font-weight: 600;
  text-anchor: middle;
}
.subtitle {
  fill: $blue3;
  font-family: $caption-font;
  font-size: 3rem;
  font-weight: 200;
  text-anchor: middle;
}
