@import '../styles/config.scss';

:global {
  .nav__wrapper {
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: $blue2;
    a[href] {
      color: $blue5;
      font-family: $caption-font;
      font-weight: 500;
      font-size: $ms2;
      text-decoration: none;
      &:hover {
        border-bottom: .15rem solid currentColor;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    & > *+* { margin-left: .75rem; }
  }

  .nav__toggle {
    display: none;
  }
}

.home {
  :global .nav__wrapper {
    position: absolute;
    background-color: transparent;
    a[href] {
      color: $blue4;
    }
  }
}
