@import '../styles/config';

.siteIndex { }

.introduction {
  padding-bottom: 2rem;
  h2 { margin: 0 0 1rem; }
  p { margin: 0; }
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem;
}

.inform {
  display: flex;
  margin: -1rem;

  section {
    margin: 1rem;
    flex: 1 0 15rem;
  } flex-flow: row wrap;
}

.callToAction {
  background-color: $blue5;
}

.actions {
  margin-top: 2rem;
  *+* { margin-left: 1rem; }
}

a[href].button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .25rem 1.5rem;
  border-radius: .25rem;
  background-color: $blue2;
  color: $white;
  text-decoration: none;
  font-weight: 600;
  font-family: $display-font;
  font-size: $ms2;
}

