// Experimental

.transition--scale-enter-active,
.transition--scale-leave,
.transition--scale-leave-active,
.transition--scale-enter {
  height: 0;
  overflow: visible;
}
.transition--scale-enter {
	transition: all $transition-easing $transition-speed * 10;
	transform: scale(.1);
	opacity: 0;
}

.transition--scale-enter-active {
	transform: scale(1);
	opacity: 1;
}

.transition--scale-leave {
	transition: all $transition-easing $transition-speed * 10;
	transform: scale(1);
	opacity: 1;
}

.transition--scale-leave-active {
	transform: scale(1);
	opacity: 0;
}