
body {
	&:after {
		display: none;
		@include media-query ('desk-wide') {
			content: 'media-query-desk-wide';
		}
		@include media-query ('desk') {
			content: 'media-query-desk';
		}
		@include media-query ('portable') {
			content: 'media-query-portable';
		}
		@include media-query ('palm') {
			content: 'media-query-palm';
		}
	}
}
